/* override bootstrap styles */
@import url('http://fonts.googleapis.com/css?family=Oswald:300,400:latin,latin-ext');

.navbar-form input, .form-inline input {
  width:auto;
}

body {
  padding-top:50px;
  color:#646464;
  background-color:#efefef;
}

h1,h2,h3,.highlight,.navbar a,#masthead h4 {
  font-family:'Oswald',arial narrow,sans-serif;
}

footer {

    padding-top: 12px;
    padding-bottom: 12px;
    color: #fff;
    background-color: #111166;
 
}


#masthead {
  min-height:199px;
  background-color:#000044;
  color:#aaaacc;
}

#masthead h1 {
    font-size: 23px;
    line-height: 1;
    color: #fefeff;
    margin-top: 68px;
}

#masthead .well {
  margin-top:31px;
  background-color:#111166;
  border-color:#000022;
  color:#efefff;
/*  min-height:127px;*/
}

#topPanel {
  padding-top:0px;
  padding-left:22px;
  padding-right:22px;
}
#topPanel .panel-body {
  padding-top:0px;
}

.navbar.affix {
  position:fixed;
  top:0;
  width:100%;
}

.top-spacer {
  background-color:#ffffff;
  height:40px;
}

a,a:hover {
  color:blue;
  text-decoration:none;
}

.icon-bar {
  background-color:#fff;
}
.row.content ul {
    line-height: 25px;
}
.login-page {
    width: 100%;
    padding: 0 0 0;
    margin: auto;
    position: relative;
}
.form-log {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    border-radius: 4px;
    max-width: 340px;
    margin: 5px auto 100px 339px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-log button:hover, .form-log button:active, .form-log button:focus {
    background: #46b8da;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form-log input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    text-align: center;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form-log select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    text-align: center;
    border: 0;
    margin: 0 0 15px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.form-log .login {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #46b8da;
    width: 100%;
    border: 0;
    padding: 10px;
    border-radius: 4px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.member {
    color: black;
    font-size: 24px;
}

@media screen and (min-width: 768px) {
  #masthead h1 {
    font-size: 52px;
  }
}

.navbar-bright {
  background-color:#111166;
  color:#fff;
  margin-bottom: 0;
  border-width: 0;
}

.navbar-bright a, .navbar-bright .navbar-brand, #masthead h4 {
  color:#ccccdd;
  font-size:14px;
  text-transform: uppercase;
  letter-spacing:.08em;
}


.navbar-bright li > a:hover {
  background-color:#000044;
  color:#fff;
}

.dropdown-menu {
  min-width: 250px;
}

.caret {
  color:#fff;
}

.navbar-toggle {
  color:#fff;
  border-width:0;
}

.navbar-toggle:hover {
  background-color:#fff;
}

.panel {
  border-color:transparent;
  border-radius:0;
  min-height:250px;
}

.thumbnail {
  margin-bottom:8px;
}

.img-container {
  overflow:hidden;
  height:170px;
}

.img-container img {
  min-width:280px;
  min-height:180px;
  max-width:380px;
  max-height:280px;
}

.txt-container {
  overflow:hidden;
  height:100px;
}

.panel .lead {
  overflow:hidden;
  height:90px;
}

.label-float{
  margin:0 auto;
  position: absolute;
  top: 0;
  z-index: 1;
  width:100%;
  opacity:.9;
  padding:6px;
  color:#fff;
}
.recruitmentFaqs ol{
  color: #000044;
  font-weight: bold;
  font-size: 15px;
}
.recruitmentFaqs ol a{
  color: #111166;
}
.recruitmentFaqs li {
  padding-bottom: 15px;
}
.recruitmentFaqs li .question{

} 
.recruitmentFaqs li .answerBlock{
  color: #000;
  font-weight: normal;
}  
.btn-twitter {background-color:#4099FF;color:#fff;}
.btn-facebook {background-color:#3B5998;color:#fff;}
.btn-google-plus {background-color:#d34836;color:#fff;}

.btn-twitter:hover {background-color:#3088FF;color:#62BBFF;}
.btn-facebook:hover {background-color:#2A4998;color:#4C6BBA;}
.btn-google-plus:hover {background-color:#C23836;color:#E45A58;}

/*media queries*/
@media(max-width: 767px){
  .profileName{
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
  }
}